
.item:hover .cover-filter {
    filter: brightness(0.75);
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.75);
    -o-filter: brightness(0.75);
    -ms-filter: brightness(0.75);
    -webkit-transition: all 0.3s ease-in-out;
	 -moz-transition: all 0.3s ease-in-out;
	 -ms-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
}

.adult-advice {
    font-size: 74px;
    color: #FF0000;
    opacity: 0.6;
}
.adultcover {
    background: #000;
}


.item:hover .bg-gd-strong{
    opacity: 1;
    padding-top: 25px;
    background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0) 0%, rgba(20, 25, 30, 0.8) 100%);
    background-image: -o-linear-gradient(top, rgba(40, 50, 60, 0) 0%, rgba(20, 25, 30, 0.8) 100%);
    background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0%, rgba(20, 25, 30, 0.8) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#8028323c', GradientType=0);
    filter: none;
}

.bg-gd-strong .text-primary-lter {
    text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    color: #fff;
}

.posts .post { 
		width: 48.025%;
		padding-bottom: 48.025%;
	}

    .post {
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	}
	
	.posts .post:nth-child(3n+1) { margin-left: 3.95%; }
	.posts .post:nth-child(2n+1) { margin-left: 0; }



body a {
	-webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -ms-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
}

.app:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: inherit;
  background-color: transparent;
  border: inherit;
  content: "";
}


.app.container {
     -webkit-box-shadow: none; 
     box-shadow: none; 
  }

.blog-logo,
.blog-title a,
.social-menu a,
.main-menu .menu-item-has-children > a:before,
.main-menu ul .menu-item-has-children > a:after,
.main-menu .page_item_has_children > a:before,
.main-menu ul .page_item_has_children > a:after,
.archive-post-title,
.flex-control-nav,
.flex-direction-nav a,
.post-navigation a,
.nav-toggle .bar,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
#infinite-handle,
#infinite-handle span,
#infinite-handle span:before,
#infinite-handle span:after,
.post-navigation a span {
	-webkit-transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	 -ms-transition: all 0.2s ease-in-out;
	 -o-transition: all 0.2s ease-in-out;
	 transition: all 0.2s ease-in-out;
}

.post .post-overlay,
.has-post-thumbnail .archive-post-header {
	-webkit-transition: all 0.3s ease-in-out;
	 -moz-transition: all 0.3s ease-in-out;
	 -ms-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
}


/* -------------------------------------------------------------------------------- */
/*	5. Blog
/* -------------------------------------------------------------------------------- */


.posts { margin-top: -3.95%; }

.posts .post {
	display: block;
	width: 30.7%;
	margin-top: 3.95%;
    margin-right: 5px;
	padding-bottom: 30.7%;
	float: left;
	position: relative;
	background-size: cover;
	background-position: center;
}

.posts .post + .post { margin-left: 3.95%; }
.posts .post:nth-child(3n+1) { margin-left: 0; }

.post-overlay {
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.sticky .post-overlay > p {
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 0.875em;
	text-transform: uppercase;
	color: #999;
}

.sticky .post-overlay > p span {
	margin-right: 9px;
	font-size: 18px;
	position: relative;
	bottom: -1px;
}

.archive-post-header {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 30px;
}

.archive-post-title {
	font-size: 1.375em;
	line-height: 120%;
	font-weight: 700;
	text-transform: uppercase;
	color: #222;
	word-break: break-word;
	-ms-word-break: break-word;
}

.archive-post-date {
	margin-bottom: -15px;
	font-size: 0.875em;
	color: #999;
	text-transform: uppercase;
}

.post-comic-name {
	margin-bottom: 5px;
	font-size: 1.275em;
	color: #999;
	text-transform: uppercase;
}

.post:hover .post-overlay { opacity: 1; }
.post:hover .archive-post-title { color: #3bc492; }

/* With Background Image */

.has-post-thumbnail .post-overlay { 
	background: rgba(0,0,0,0.75);
	opacity: 0; 
}

.has-post-thumbnail .archive-post-header { bottom: 35px; }
.has-post-thumbnail:hover .archive-post-header { bottom: 30px; }

.has-post-thumbnail .archive-post-title,
.post.has-post-thumbnail:hover .archive-post-title { color: #fff; }
