.Releases {
  text-align: center;
}

.Releases a {
  color: inherit;
  text-decoration: none;
  transition: 0.15s;
  background-color: transparent;
}

.shimme-card .shimme-text {
  background-color: #ddd;
}

.shimme-card .card-body-heading {
  padding-left: 12%;
}

.shimme-card .shimme-title {
  width: 100%;
}

.shimme-card .shimme-desc {
  height: 17px;
  margin-bottom: 5px;
}
