<div class="app app-header-fixed app-aside-folded app-aside-dock container" id="app"  ng-controller="ShellController as vm">

  <section id="content" class="content">
    <!--<div ng-include="'app/layout/sidebar.html'"></div>-->

    <div ui-view class="shuffle-animation"></div>

    <div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700" ngplus-overlay-animation="dissolve-animation">
      <img src="images/busy.gif" />

      <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>
  </section>
</div>