<div class="app app-header-fixed app-aside-folded app-aside-dock" id="app"  ng-controller="ShellController as vm">
  <header>
    <ht-top-nav navline="vm.navline"></ht-top-nav>
  </header>
  <section id="content" class="content">
    <div ui-view class="app-content-body fade-in-up"></div>
  </section>
  
  <script type="text/ng-template" id="welcomeModal.html">
    <div class="modal-header">
      <h3>{{'global.modal.TITLE' | translate}}</h3>
    </div>
    <div class="modal-body">
      {{'global.modal.MESSAGE' | translate}}
    </div>
    <rf-settings class="welcomemodal"></rf-settings>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="accept()">{{'global.modal.ACCEPT' | translate}}</button>
    </div>
  </script>
</div>