# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/
bower_components/

# other
.tmp
report/*/*
report/coverage
report/coverage/report-html
report/coverage/report-lcov
report/coverage/report-html/app
report/coverage/report-lcov/lcov-report
report/coverage/report-lcov/lcov.info