<div class="wrapper-md">
  <div class="row">
    <div class="col-md-12">
      <div class="panel wrapper" style="padding: 7px 10px;">
        <div class="row">
          <div class="col-md-6 hidden-lg hidden-md">
            <label>{{'global.FILTERBY' | translate}}</label>
            <div class="btn-group dropdown">
              <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="dropdown-label" translate="global.settings.languages.{{vm.currentLang}}"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-left text-sm scrollable" style="max-height:270px">
                <li><a ng-click="vm.changeLanguage('es')">{{'global.settings.languages.es' | translate}}</a></li>
                <li><a ng-click="vm.changeLanguage('en')">{{'global.settings.languages.en' | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <input class="form-control" placeholder="{{'global.SEARCH' | translate}}" ng-model="search"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="wrapper-md">
  <center id="md-spinner" ng-show="vm.loading">
  <svg class="spinner" width="100px" height="100px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
  </center>
  <div ng-hide="vm.loading" class="posts animated-x4 fadeIn" id="posts" ng-repeat="comic in vm.comics | filter:{name:search}">
    <a ui-sref="comic({id: comic.stub})" 
        class="post type-post status-publish format-standard has-post-thumbnail hentry animated fadeIn" 
        style="background-image: url({{comic.fullsized_thumb_url}});">
      <div class="post-overlay">
        <div class="archive-post-header">
            <p class="archive-post-date" ng-hide="comic.author === comic.artist">{{comic.author}} & {{comic.artist}}</p>
            <p class="archive-post-date" ng-show="comic.author === comic.artist">{{comic.author}}</p>
            <h2 class="archive-post-title">{{comic.name}}</h2>
        </div>
      </div>
    </a>
  </div>
</div> 