.ReaderBar {
    min-height: 30px;
    margin-bottom: 15px;
  }
  
  .ReaderBar .title {
    font-size: 22px;
  }
  
  .ReaderBar .title .truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .ReaderBar .Download {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .shimme-reader .shimme-text {
    background-color: #ddd;
  }
  
  .shimme-reader .shimme-page {
    background-color: #ddd;
    text-align: center;
    margin: 20px auto;
    width: 90%;
    height: 100%;
    min-height: 600px;
  }
  