<div class="wrapper-md" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="panel wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group dropdown">
                            <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="dropdown-label">{{vm.comic.name}}</span>                    
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu text-left text-sm scrollable" style="max-height:270px">
                                <li ng-repeat="comic in vm.comics | orderBy: '+name'">
                                    <a ui-sref="comic({id: comic.stub})">{{comic.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="dropdown-label">
                                <span ng-if="vm.comic.name !== 'Oneshots'" translate="global.CHAPTER" translate-value-chapter="{{vm.chapterSelected.chapter}}"><span ng-if="vm.chapterSelected.subchapter !== '0'">.{{vm.chapterSelected.subchapter}}</span></span>
                                <span ng-if="vm.comic.name === 'Oneshots'">{{vm.chapter.name}}</span>
                            </span>                    
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu text-left text-sm scrollable" style="max-height:270px">
                                <li ng-repeat="chapter in vm.chapters track by $index">
                                    <a ui-sref="read({stub: vm.comic.stub,chapter: chapter.chapter,subchapter:chapter.subchapter, lang: chapter.lang})">
                                        <i class="flag flag-{{chapter.lang}}"></i>
                                        <span ng-if="vm.comic.name !== 'Oneshots'" translate="global.CHAPTER" translate-value-chapter="{{chapter.chapter}}"><span ng-if="chapter.subchapter !== '0'">.{{chapter.subchapter}}</span></span>
                                        <span ng-if="vm.comic.name === 'Oneshots'">{{vm.chaptersOneshots[$index]}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="dropdown-label">
                                    <span ng-if="vm.pageSelected !== 'END'" translate="global.PAGE" translate-value-page="{{vm.pageSelected}}"></span>
                                </span>                    
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu text-left text-sm scrollable" style="max-height:270px">
                                <li ng-repeat="page in vm.pagesList">
                                    <a ng-click="vm.changePageSelected(page)" translate="global.PAGE" translate-value-page="{{page}}">Page</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <h1 class="m-n font-thin h3">
                                {{vm.chapter.name}} 
                                <a popover="Download chapter!" popover-trigger="mouseenter" popover-placement="bottom" ng-show="vm.chapter.download_href" ng-click="vm.downloadChapter()">
                                    <span class="badge"><i class="fa fa-cloud-download"></i></span>
                                </a>
                            </h1>
                        </div>
                        <div class="pull-right" style="padding-right:15px;">
                            <button class="btn btn-default btn-xs" ng-class="{active: vm.webtoonMode === true}" ng-click="vm.changeWebtoonMode()" translate="module.reader.WEBTOONMODE">Webtoon Mode</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center" ng-hide="vm.pageSelected === 'END'" ng-repeat="page in vm.pages track by $index">
            <img id="page_{{$index}}" ng-show="vm.showImages($index)" ng-click="vm.changePageClick($index)" src="{{page.url}}" style="max-width:100%;margin-bottom:5px;"
            />
        </div>
        <div ng-show="vm.pageSelected === 'END'">
            <div class="panel wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="m-t-none" translate="module.reader.endPage.TITLE">Thanks for Reading!</h2>
                        <p translate="module.reader.endPage.DESC" translate-value-name="{{vm.comic.name}}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br style="clear:both;margin-bottom: 10px;"/>
    <div class="panel wrapper" style="width: 95%; margin: 0 auto;">
        <dir-disqus config="disqusConfig"></dir-disqus>
    </div>
</div>