a {
  color: #4b4f56;
}

.search-card {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 65px;
  width: 100%;
  margin-right: 3%;
  max-height: 210px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

.card {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 65px;
  width: 47%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  transform: translateY(10px);
  white-space: normal;
  transition-property: all;
  transition-duration: 250ms;
}

.card:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -10px);
  transition-delay: 0s !important;
}

.card-media {
  float: left;
  padding: 0 0 25px 25px;
  position: relative;
  width: 145px;
}

.card-media-img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  float: left;
  margin-top: -25px;
  max-width: 150px;
  position: relative;
  border-radius: 2px;
}

.card-media-tag {
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.22);
  display: inline-block;
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 5px 8px;
  position: absolute;
  left: 110px;
  text-transform: uppercase;
  top: -10px;
  width: 63px;
}

.card-media-tag-orange {
  background-color: #ff982c;
  color: #ffe111;
}

.card-body {
  float: left;
  padding: 15px 25px 25px 20px;
  width: 70%;
}

.card-body-heading {
  color: #6f6f6f;
  display: inline-block;
  font-size: 22px;
  padding-left: 15%;
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  .card-body {
    width: 65%;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .card-body {
    width: 55%;
  }
}
