<div class="wrapper-md">
  <div class="row">
    <div class="col-md-4">
      <div class="panel wrapper" style="height: 100%;">
        <img src="{{vm.comic.fullsized_thumb_url}}" style="width: 100%;"/>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel wrapper">
        <h4 class="font-thin m-t-none m-b text-muted">Description</h4>
        {{vm.comic.description}}
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel wrapper">
        <h4 class="font-thin m-t-none m-b text-muted">Info</h4>
        Author: {{vm.comic.author}} <br>
        Artist: {{vm.comic.artist}}
      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Chapters</div>
        <table class="table table-striped m-b-none">
          <thead>
            <tr>
              <!--<th style="width:90px;" class="text-center">ch</th>-->
              <th></th>                    
              <th style="width:70px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="chapter in vm.chapters | orderBy:'-chapter'">                    
              <!--<td><a href="{{chapter.chapter.href}}">Chapter{{chapter.chapter.chapter}}</a></td>-->
              <td>
                <a ui-sref="read({id: vm.comic.stub, chapter: chapter.chapter.chapter, subchapter: chapter.chapter.subchapter })">
                  <span ng-show="!chapter.chapter.name">#{{chapter.chapter.chapter}}: Chapter {{chapter.chapter.chapter}}</span> 
                  <span ng-show="chapter.chapter.name">#{{chapter.chapter.chapter}}: {{chapter.chapter.name}}</span> 
                </a>
              </td>
              <td>
                <a ng-click="vm.downloadChapter(chapter.chapter.download_href)"><i class="fa fa-cloud-download"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>