body {
  background-color: #f8f8f8;
}

.navbar {
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-backdrop-filter: blur(20px);
  position: relative;
  z-index: 2;
}

.navbar-nav li a svg {
  margin-right: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.container {
  margin-top: 30px;
}

.show-loading-animation {
  animation: react-placeholder-pulse 1.5s infinite;
}

@keyframes react-placeholder-pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
