.navbar {
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-backdrop-filter: blur(20px);
  position: relative;
}
.navbar-nav li a svg {
  margin-right: 5px;
}

.container {
  margin-top: 30px;
}

.show-loading-animation {
  animation: react-placeholder-pulse 1.5s infinite;
}

@keyframes react-placeholder-pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
