<!DOCTYPE html>
<html ng-app="app">

<head>
  <style>
    .ng-hide, [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none!important;
    }
  </style>
  <title ng-bind="title">
    <%= title %>
  </title>
  <link rel="manifest" href="manifest.json">
  <meta charset="utf-8" />
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <meta name="theme-color" content="#7793a7" />
  <meta name="msapplication-TileColor" content="#7793a7">
  <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <base href="/">

  <!-- build:css styles/lib.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/animate.css/animate.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
  <link rel="stylesheet" href="/bower_components/angular-cfp-hotkeys/build/hotkeys.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/.tmp/styles.css">
  <!-- endinject -->
  <!-- endbuild -->
</head>

<body>
  <div id="topRead">
    <div ng-include="'app/layout/shell.html'"></div>
  </div>

  <!-- build:js js/lib.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/lodash/lodash.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/extras.angular.plus/ngplus-overlay.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/toastr/toastr.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/angular-translate/angular-translate.js"></script>
  <script src="/bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
  <script src="/bower_components/messageformat/messageformat.js"></script>
  <script src="/bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
  <script src="/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
  <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
  <script src="/bower_components/restangular/dist/restangular.js"></script>
  <script src="/bower_components/angular-cfp-hotkeys/build/hotkeys.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js js/app.js -->
  <!-- inject:js -->
  <script src="/src/client/app/app.module.js"></script>
  <script src="/src/client/app/blocks/exception/exception.module.js"></script>
  <script src="/src/client/app/blocks/logger/logger.module.js"></script>
  <script src="/src/client/app/blocks/router/router.module.js"></script>
  <script src="/src/client/app/blog/blog.module.js"></script>
  <script src="/src/client/app/comic/comic.module.js"></script>
  <script src="/src/client/app/core/core.module.js"></script>
  <script src="/src/client/app/layout/layout.module.js"></script>
  <script src="/src/client/app/list/list.module.js"></script>
  <script src="/src/client/app/pages/pages.module.js"></script>
  <script src="/src/client/app/projects/projects.module.js"></script>
  <script src="/src/client/app/reader/reader.module.js"></script>
  <script src="/src/client/app/releases/releases.module.js"></script>
  <script src="/src/client/app/widgets/widgets.module.js"></script>
  <script src="/src/client/app/blocks/exception/exception-handler.provider.js"></script>
  <script src="/src/client/app/blocks/exception/exception.js"></script>
  <script src="/src/client/app/blocks/logger/logger.js"></script>
  <script src="/src/client/app/blocks/router/router-helper.provider.js"></script>
  <script src="/src/client/app/blog/blog.controller.js"></script>
  <script src="/src/client/app/blog/blog.route.js"></script>
  <script src="/src/client/app/comic/comic.controller.js"></script>
  <script src="/src/client/app/comic/comic.route.js"></script>
  <script src="/src/client/app/config.custom.js"></script>
  <script src="/src/client/app/core/config.js"></script>
  <script src="/src/client/app/core/constants.js"></script>
  <script src="/src/client/app/core/core.route.js"></script>
  <script src="/src/client/app/core/dataservice.js"></script>
  <script src="/src/client/app/layout/ht-sidebar.directive.js"></script>
  <script src="/src/client/app/layout/ht-top-nav.directive.js"></script>
  <script src="/src/client/app/layout/shell.controller.js"></script>
  <script src="/src/client/app/layout/sidebar.controller.js"></script>
  <script src="/src/client/app/list/list.controller.js"></script>
  <script src="/src/client/app/list/list.route.js"></script>
  <script src="/src/client/app/pages/pages.controller.js"></script>
  <script src="/src/client/app/pages/pages.route.js"></script>
  <script src="/src/client/app/projects/projects.controller.js"></script>
  <script src="/src/client/app/projects/projects.route.js"></script>
  <script src="/src/client/app/reader/reader.controller.js"></script>
  <script src="/src/client/app/reader/reader.route.js"></script>
  <script src="/src/client/app/releases/card.directive.js"></script>
  <script src="/src/client/app/releases/releases.controller.js"></script>
  <script src="/src/client/app/releases/releases.route.js"></script>
  <script src="/src/client/app/widgets/disqus.directive.js"></script>
  <script src="/src/client/app/widgets/moment-format.filter.js"></script>
  <script src="/src/client/app/widgets/rf-settings.directive.js"></script>
  <script src="/src/client/app/widgets/ui-toggleclass.directive.js"></script>
  <!-- endinject -->

  <noscript>
    <h1>You must enable javascript to view this page.</h1>
  </noscript>

  <!-- inject:templates:js -->
  <!-- endinject -->
  <!-- endbuild -->
</body>

</html>