PORT=8000
NODE_ENV=development

SECRET_KEY=super-secret-key-readerfront-api

GRAPHQL_IDE=true

DB_USER=USER
DB_PASS=PASS
DB_NAME=DBNAME
DB_HOSTNAME=127.0.0.1
DB_DIALECT=mysql

APP_URL=http://localhost:3000/
API_URL=http://localhost:8000/

REACT_APP_APP_TITLE=Reader Front

SENDGRID_API=YOUR_API_KEY
EMAIL=YOUR_EMAIL